.top-container {
  background-image: url("../img/top-main-back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 860px;
  position: relative;
  z-index: 10;
}
