$roboto: "Roboto", "Arial", sans-serif;
$playfair: "Playfair Display", "Times New Roman", serif;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$maxWidth: 1250px;

//resolutions
$tabletResolution: 1023px;
$mobileResolution: 767px;
